
/* This allows firefox to adjust to top etc measurements */
html, body {
    font-family: Norasi, serif;
    background-color: bisque;
    height: 100%;
    width: 100%
}

#main-div {
    font-family: "Bitstream Vera Sans", serif;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    position: relative;
    top: 30%;
    margin: auto;
    width: 50%;
}

#main-header {
    position: relative;
    opacity: 0.5;
    font-family: Courier;
    font-style: italic;
    font-size: 10px;
    top: 24px;
    right: 100px;
}

#todo-list {
    position: relative;
    display: block;
    right: 5%;
    list-style-type: none;
}

.taskComplete {
    text-decoration: line-through;
    font-style: italic;
}
